<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ControlDiv.App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Home" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Voucher">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Vouchers
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SaleIndex">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ventas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Account">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cuentas
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Reverse">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Reverso
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Deliver">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Entrega
                    </NavLink>
                </div>
            </Authorized>

        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
